h1 {
	font-size: 28px;
	font-weight: bolder;
	padding: 20px;
	color: limegreen;
	font-family: Tahoma, Arial, sans-serif;
}

p {
	color: gray;
	font-size: 18px;
	padding: 10px 20px;
	font-family: Georgia, "Times New Roman", serif;
}